* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#133469, #090b1a, #090b1a);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
}

.bg-img {
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  filter: brightness(0.8) blur(5px);
  background-image: url("https://images4.alphacoders.com/720/720499.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

#form-window,
#registered-box {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 10px;
  border: rgb(12, 202, 193) 3px solid;
  background-color: rgba(25, 12, 56, 0.8);
  padding: 30px;
  z-index: 2;
  max-width: 90vw;
  max-height: 70vh;
  overflow-y: scroll;
}

#title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1em;
}

label,
p {
  font-size: 0.7em;
}

p {
  margin-bottom: 1em;
}

.input-field {
  border: rgb(177, 177, 177) 2px solid;
  border-radius: 1em;
  outline: none;
  height: 1.75em;
  width: 15em;
  display: block;
  margin: 3px 0 20px 0;
  text-align: center;
}

button {
  width: 100%;
  height: 2.5em;
  background-color: rgb(14, 202, 193);
  border: rgb(35, 117, 128) 2px solid;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8em;
}

a {
  display: block;
  width: 100%;
  background-color: rgb(14, 202, 193);
  border: rgb(35, 117, 128) 2px solid;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8em;
  text-align: center;
  padding: 0.8em 0;
  text-decoration: none;
  color: #000;
}

#error {
  color: rgb(226, 33, 33);
}

@media (min-width: 800px) {
  #form-window,
  #registered-box {
    padding: 10px;
    overflow: hidden;
  }

  .input-field {
    width: 24em;
    height: 2em;
  }

  #title {
    font-size: 1.5em;
  }

  label,
  p {
    font-size: 1em;
  }

  button,
  a {
    font-size: 1.1em;
  }
}
